body {
    background: url(https://raw.githubusercontent.com/Convert-Base64/Converter/ef6e4ced0790bf47ed45d99fb944e463b8bb526e/Background.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text {
  
  font-family: 'Work Sans', sans-serif;
  background-image:linear-gradient(to top left,#ffffff,#ffffff)!important;display:inline-block;font-family:inherit;font-weight:700;border:0;border-radius:8px!important;white-space:nowrap;padding:1rem 1.5rem;line-height:1.4;text-align:center;transition:.07s;position:relative;text-decoration:none!important
  color: black;
  width: 50%;
}
p {
color: gray;
font-family: 'Source Sans Pro', sans-serif;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
font-family: 'Source Sans Pro', sans-serif;
}
h1 {
font-family: 'Source Sans Pro', sans-serif;
color: white;
}
h3 {
font-family: 'Work Sans', sans-serif;
color: white;
}
p {
font-family: 'Work Sans', sans-serif;
color: white;
}
div {
font-family: 'Work Sans', sans-serif;
color: white;
}
.fileName {
  font-family: 'Work Sans', sans-serif;
  color: white;
}
.fileType {
  font-family: 'Work Sans', sans-serif;
  color: white;
}
.fileSize {
  font-family: 'Work Sans', sans-serif;
  color: white;
}
.upload{background-image:linear-gradient(to top left,#ff8a00,#e52e71)!important;color:#fff!important;display:inline-block;font-family:inherit;font-weight:700;border:0;border-radius:8px!important;white-space:nowrap;padding:1rem 1.5rem;line-height:1.4;text-align:center;transition:.07s;position:relative;text-decoration:none!important
font-family: 'Work Sans', sans-serif;
cursor: pointer;
}
div {
position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
